
<h1>Edit Profile</h1>
<%
=begin%>
 <p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Contact Number:</strong> <%= @user.contact_number %></p>
<p><strong>Username:</strong> <%= @user.username %></p> 
<%
=end%>

<%= link_to 'Change Username', change_username_profile_path%>
<%= link_to 'Change Password', change_password_profile_path%>
<%= link_to "Buy Subscription", checkout_path,class: "btn btn-success" %>