<h2>Share Story</h2>

<p>Asset Address: <%= @asser.address %></p>
<p>Asset Place Name: <%= @asser.place_name %></p>

<%= form_with(model: @story, url: asser_stories_path(@asser), local: true) do |form| %>
  <%= form.hidden_field :asser_id, value: @asser.id %>
<br/>
  <div>
    <%= form.label :type_of_stuff, "Type of Stuff:" %><br/>
    <%= form.select :type_of_stuff, ['Good', 'Bad', 'Fix'], prompt: "Select one", required: true %>
  </div>
<br/>
  <div>
    <%= form.label :category, "Category:" %><br/>
    <%= form.select :category, ['Art', 'Business', 'Child Care', 'Education', 'Environment', 'Food', 'Health', 'Housing', 'Industry', 'Safety', 'Transportation'], prompt: "Select one", required: true %>
  </div>
<br/>
  <div>
    <%= form.label :rating, "Rating:" %><br/>
    <%= form.number_field :rating, in: 0..5, required: true %>
  </div>
<br/>
  <div>
    <%= form.label :story_description, "Story Description:" %><br/>
    <%= form.text_area :story_description, maxlength: 2000 %>
  </div>
<br/>
  <div>
    <%= form.label :media, "Media:" %><br/>
    <%= form.file_field :media %>
  </div>
<br/>
  <div>
    <%= form.submit "Share",class: 'btn btn-primary' %><br/>
  </div>
<% end %>


<%
=begin%>
 <%= render 'form', story: @story %> 
<%
=end%>
