<h1>Create Survey</h1>

<%= form_with(model: @survey, url: surveys_path, method: :post) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :survey_script %>
  <%= form.text_area :survey_script %>

  <h2>Questions</h2>
  <%= form.fields_for :questions do |question_form| %>
    <%= question_form.label :content %>
    <%= question_form.text_area :content %>
    <%= question_form.hidden_field :question_type, value: 'Open-Ended' %>

    <%= render 'open_ended_options', question_form: question_form %>
    <%= render 'multiple_choice_options', question_form: question_form %>
  <% end %>

  <%= form.submit 'Publish' %>
<% end %>
